html
    head
        title= "PixieColor"
    body
        if user
            p You are logged in!
            a(href="/things")
                button(type="button") Things


        else
            p Welcome to PixieColor!
            a(href="/register")
                button(type="button") Sign up
            a(href="/login")
                button(type="button") Sign in
