html
    head
        title= "PixieColor"
    body
        if user
            p You are logged in!
            if things
                ul
                    each thing in things
                        a(href="/things/" + thing.key)
                            button(type="button")=thing.value + " ID: " + thing.key


        else
            p Welcome to PixieColor!
            a(href="/register")
                button(type="button") Sign up
            a(href="/login")
                button(type="button") Sign in
