html
  head
    title= "Text"
  body
    p= thing_id
    p= led_color
    block content
      .main.container
        .row
          .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Sign Up

            form(method='GET' action='/colorChange/' + thing_id)
              div.form-group
                label(for='color') Color:
                input#color.form-control(name='color', value=color)
              button.btn.btn-primary(type='submit') Change color

            a(href="/setTimer/" + thing_id)
              button(type="button") Timer
