html
  head
    title= "Text"
  body
    p= thing_id
    p= led_color
    block content
            form(method='GET' action='/colorChange/' + thing_id)
              div.form-group
                label(for='color') Color:
                input#color.form-control(name='color', value=color)
              button.btn.btn-primary(type='submit') Change color
            if timer_locked
                a(href="/stopTimer/" + thing_id)
                    button(type="button") Cancel
            else
                a(href="/setTimer/" + thing_id + "/" + 0.5)
                  button(type="button") 5
                a(href="/setTimer/" + thing_id + "/" + 15)
                  button(type="button") 15
                a(href="/setTimer/" + thing_id + "/" + 30)
                  button(type="button") 30
